<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<title>HR - Search employees </title>
</head>
<body>
 <header th:replace="layout/layout :: header"></header>
 <main>
 
 <section style="margin: 20px;">
 	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a href="#">Search</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Employees</li>
	  </ol>
	</nav>
 </section>
 
 <section style="margin: 20px;">
 	<div class="row" >
 	
	  <div th:each="employee : ${employees}" class="col-sm-3" style="padding: 5px;" >
	 	<div  class="card" style="width: 18rem;">
		  <img th:src="@{/images/employee.jpg}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title" th:text="${employee.firstName + ' ' + employee.lastName}">.</h5>
		    <p class="card-text">
		    	<strong>Department:</strong> <span th:text="${employee.department.name}"></span><br>
		    	<strong> Job:</strong> <span th:text="${employee.job.title}"></span>
		    </p>
		    <a th:href="@{'/info/employee/' + ${employee.id}}" class="btn btn-warning">Info</a>
		    <a th:href="@{'/human-resource/moveup/' + ${employee.id}}" class="btn btn-success">Move Up</a>
		  </div>
		</div>
 	  </div>
 	  
	</div>
 </section>
 	
 </main>   
 <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
