<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <title>Editing Region item</title>
  </head>
  <body>
    <h1>Editing Region Item</h1>
	
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
	    
	    <form th:action="@{/regions/saveedit}" th:object="${regionEdit}" method="post">
		  <div class="mb-3">
		    <label for="name" class="form-label">Region name</label>		    
		    <input type="text" class="form-control" th:field="*{name}" aria-describedby="nameHelp">		    
		    <div id="nameHelp" class="form-text">Register the name of the region.</div>
		  </div>
		  <button type="submit" class="btn btn-success">Update</button>
		</form>
	  </div>
	</div>
		
	<a th:href="@{'/regions'}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Return</a>

    <script th:src="@{js/bootstrap.bundle.min.js}" ></script>
  </body>
</html>
